<div class="small-card-container">
    <div class="card-col">
        <div class="col-square">
            <span>TUE</span>
            <p>imagem</p>
            <span>26ºC</span>
        </div>
        <div class="col-square">
            <span>WED</span>
            <p>imagem</p>
            <span>25ºC</span>
        </div>
        <div class="col-square">
            <span>THU</span>
            <p>imagem</p>
            <span>24º</span>
        </div>
    </div>
    
    <div class="card-col">
        <div class="col-square">
            <span>FRI</span>
            <p>imagem</p>
            <span>25ºC</span>
        </div>
        <div class="col-square">
            <span>SAT</span>
            <p>imagem</p>
            <span>26ºC</span>
        </div>
        <div class="col-square">
            <span>SUN</span>
            <p>imagem</p>
            <span>27ºC</span>
        </div>
    </div>
</div>
