<div class="small-card-container">
    <div class="card-col">
        <div class="col-square" id="square1">
            <span>TUE <br> 26ºC </span>
            <p>imagem</p>
            <!-- <span>26ºC</span> -->
        </div>
        <div class="col-square" id="square2">
            <span>WED <br> 25ºC </span>
            <p>imagem</p>
            <!-- <span>25ºC</span> -->
        </div>
        <div class="col-square" id="square3">
            <span>THU <br>24ºC </span>
            <p>imagem</p>
            <!-- <span>24º</span> -->
        </div>
    </div>
    
    <div class="card-col">
        <div class="col-square" id="square4">
            <span>FRI <br> 25ºC </span>
            <p>imagem</p>
            <!-- <span>25ºC</span> -->
        </div>
        <div class="col-square" id="square5">
            <span>SAT <br> 26ºC </span>
            <p>imagem</p>
            <!-- <span>26ºC</span> -->
        </div>
        <div class="col-square" id="square6">
            <span>SUN <br> 27ºC </span>
            <p>imagem</p>
            <!-- <span>27ºC</span> -->
        </div>
    </div>
</div>
